### Import Dependencies

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import csv

### Retrieve CSV data files

In [27]:
#CSV file paths

accident_path = "source_data/ACCIDENT.csv"
accident_event_path = "source_data/ACCIDENT_EVENT.csv"
accident_location_path = "source_data/ACCIDENT_LOCATION.csv"
atmospheric_cond_path = "source_data/ATMOSPHERIC_COND.csv"
node_path = "source_data/NODE.csv"
person_path = "source_data/PERSON.csv"
road_surface_cond_path = "source_data/ROAD_SURFACE_COND.csv"
subdca_path = "source_data/SUBDCA.csv"
vehicle_path = "source_data/VEHICLE.csv"

# reading the CSV files, increase memory capacity
accident_df = pd.read_csv(accident_path, 
                          parse_dates=["ACCIDENTDATE"], infer_datetime_format = True, low_memory = False)
accident_event_df = pd.read_csv(accident_event_path)
accident_location_df = pd.read_csv(accident_location_path)
atmospheric_cond_df = pd.read_csv(atmospheric_cond_path)
node_df = pd.read_csv(node_path)
person_df = pd.read_csv(person_path)
road_surface_cond_df = pd.read_csv(road_surface_cond_path)
subdca_path_df = pd.read_csv(subdca_path)
vehicle_path_df = pd.read_csv(vehicle_path)

### Create accident master dataframe for later functional reference

In [28]:
main_df = accident_df[["ACCIDENT_NO", "ACCIDENTDATE"]]
print(len(main_df))
main_df.head()

203708

    ACCIDENT_NO ACCIDENTDATE
0  T20060000010   2006-01-13
1  T20060000018   2006-01-13
2  T20060000022   2006-01-14
3  T20060000023   2006-01-14
4  T20060000026   2006-01-14

### Extract 5 years of interested data

In [35]:
# Drop accident rows that happened before 1-1-2016
start_date = '2016-01-01'
main_df = main_df[main_df['ACCIDENTDATE'] >= start_date]
main_df.reset_index(drop=True, inplace = True)
print(len(main_df))
main_df.head()

62266

    ACCIDENT_NO ACCIDENTDATE
0  T20160000013   2016-01-01
1  T20160000015   2016-01-01
2  T20160000019   2016-01-01
3  T20160000028   2016-01-01
4  T20160000031   2016-01-01

### Export dataframe to csv file

In [30]:
file_name = 'proj_accident_main.csv'
filepath = f"project_data/{file_name}"  
main_df.to_csv(filepath)
print(f"*** File created in: {filepath} ****" )

*** File created in: project_data/proj_accident_main.csv ****

### Create accident data related dataframes
    - Filtering Dataset so it only has the last 5 years of accidents (same accidents id's in the Main Dataframe)

In [31]:
# dataframe to only have rows where the dataframe's accident_no value is in the main_df, done with the .isin method()
accident_df = accident_df[accident_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
accident_event_df = accident_event_df[accident_event_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
accident_location_df = accident_location_df[accident_location_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
atmospheric_cond_df = atmospheric_cond_df[atmospheric_cond_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
node_df = node_df[node_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
person_df = person_df[person_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
road_surface_cond_df = road_surface_cond_df[road_surface_cond_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
subdca_path_df = subdca_path_df[subdca_path_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]
vehicle_path_df = vehicle_path_df[vehicle_path_df["ACCIDENT_NO"].isin(main_df["ACCIDENT_NO"])]

#nua = Number of Unique values. getting the number of unique accident_no's in every dataframe. The main DF has 62266 unique values so we expect the other dataframes to have equal or less
nua_accident_df = accident_df["ACCIDENT_NO"].nunique()
nua_accident_event_df = accident_event_df["ACCIDENT_NO"].nunique()
nua_accident_location_df = accident_location_df["ACCIDENT_NO"].nunique()
nua_atmospheric_cond_df = atmospheric_cond_df["ACCIDENT_NO"].nunique()
nua_node_df = node_df["ACCIDENT_NO"].nunique()
nua_person_df = person_df["ACCIDENT_NO"].nunique()
nua_road_surface_cond_df = road_surface_cond_df["ACCIDENT_NO"].nunique()
nua_subdca_path_df = subdca_path_df["ACCIDENT_NO"].nunique()
nua_vehicle_path_df = vehicle_path_df["ACCIDENT_NO"].nunique()

print(f"Length of accident_df Dataframe: {len(accident_df)} | Number of Unique ACCIDENT_NO values: {nua_accident_df}")
print(f"Length of accident_event_df Dataframe: {len(accident_event_df)} | Number of Unique ACCIDENT_NO values: {nua_accident_event_df}")
print(f"Length of accident_location_df Dataframe: {len(accident_location_df)} | Number of Unique ACCIDENT_NO values: {nua_accident_location_df}")
print(f"Length of atmospheric_cond_df Dataframe: {len(atmospheric_cond_df)} | Number of Unique ACCIDENT_NO values: {nua_atmospheric_cond_df}")
print(f"Length of node_df Dataframe: {len(node_df)} | Number of Unique ACCIDENT_NO values: {nua_node_df}")
print(f"Length of person_df Dataframe: {len(person_df)} | Number of Unique ACCIDENT_NO values: {nua_person_df}")
print(f"Length of road_surface_cond_df Dataframe: {len(road_surface_cond_df)} | Number of Unique ACCIDENT_NO values: {nua_road_surface_cond_df}")
print(f"Length of subdca_path_df Dataframe: {len(subdca_path_df)} | Number of Unique ACCIDENT_NO values: {nua_subdca_path_df}")
print(f"Length of vehicle_path_df Dataframe: {len(vehicle_path_df)} | Number of Unique ACCIDENT_NO values: {nua_vehicle_path_df}")

Length of accident_df Dataframe: 62266 | Number of Unique ACCIDENT_NO values: 62266
Length of accident_event_df Dataframe: 107437 | Number of Unique ACCIDENT_NO values: 62266
Length of accident_location_df Dataframe: 62266 | Number of Unique ACCIDENT_NO values: 62266
Length of atmospheric_cond_df Dataframe: 63182 | Number of Unique ACCIDENT_NO values: 62266
Length of node_df Dataframe: 67723 | Number of Unique ACCIDENT_NO values: 62229
Length of person_df Dataframe: 148373 | Number of Unique ACCIDENT_NO values: 62266
Length of road_surface_cond_df Dataframe: 62603 | Number of Unique ACCIDENT_NO values: 62266
Length of subdca_path_df Dataframe: 89370 | Number of Unique ACCIDENT_NO values: 62262
Length of vehicle_path_df Dataframe: 113921 | Number of Unique ACCIDENT_NO values: 62266

### Export dataframes to csv files for future reference

In [32]:
accident_event_df.to_csv("project_data/accident_event_df.csv")
accident_location_df.to_csv("project_data/accident_location_df.csv")
atmospheric_cond_df.to_csv("project_data/atmospheric_cond_df.csv")
node_df.to_csv("project_data/node_df.csv")
person_df.to_csv("project_data/person_df.csv")
road_surface_cond_df.to_csv("project_data/road_surface_cond_df.csv")
subdca_path_df.to_csv("project_data/subdca_df.csv")
vehicle_path_df.to_csv("project_data/vehicle_df.csv")

In [33]:
# Assign Severity description to Severity code
severity_dict = {
        "SEVERITY" : [1,2,3,4],
        "SEVERITY_DESC" : ["Fatal accident", "Serious injury accident", "Other injury accident", "Non injury accident"]}
df = pd.DataFrame(severity_dict)
df

   SEVERITY            SEVERITY_DESC
0         1           Fatal accident
1         2  Serious injury accident
2         3    Other injury accident
3         4      Non injury accident

In [34]:
# Add Severity description to accident_df for csv export
accident_df = pd.merge(accident_df, df, on="SEVERITY")
accident_df.to_csv("project_data/accident_df.csv")