In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [ ]:
#CSV file paths

accident_path = "data/ACCIDENT.csv"
accident_chainage_path = "data/ACCIDENT_CHAINAGE.csv"
accident_event_path = "data/ACCIDENT_EVENT.csv"
accident_location_path = "data/ACCIDENT_LOCATION.csv"
atmospheric_cond_path = "data/ATMOSPHERIC_COND.csv"
node_path = "data/NODE.csv"
person_path = "data/PERSON.csv"
road_surface_cond_path = "data/ROAD_SURFACE_COND.csv"
subdca_path = "data/SUBDCA.csv"
vehicle_path = "data/VEHICLE.csv"


# reading the CSV files

# ACCIDENT_NO, date, time, speed zone, sex, age

accident_df = pd.read_csv(accident_path)
accident_chainage_df = pd.read_csv(accident_chainage_path)
accident_event_df = pd.read_csv(accident_event_path)
accident_location_df = pd.read_csv(accident_location_path)
atmospheric_cond_df = pd.read_csv(atmospheric_cond_path)
node_df = pd.read_csv(node_path)
person_df = pd.read_csv(person_path)
road_surface_cond_df = pd.read_csv(road_surface_cond_path)
subdca_path_df = pd.read_csv(subdca_path)
vehicle_path_df = pd.read_csv(vehicle_path)

In [12]:
main_df = accident_df[["ACCIDENT_NO", "ACCIDENTDATE", "ACCIDENTTIME","DAY_OF_WEEK","SPEED_ZONE"]]

main_df

,ACCIDENT_NO,ACCIDENTDATE,ACCIDENTTIME,DAY_OF_WEEK,SPEED_ZONE
0,T20060000010,13/01/2006,12:42:00,6,60
1,T20060000018,13/01/2006,19:10:00,6,70
2,T20060000022,14/01/2006,12:10:00,7,100
3,T20060000023,14/01/2006,11:49:00,7,80
4,T20060000026,14/01/2006,10:45:00,7,50
...,...,...,...,...,...
203703,T20200019239,1/11/2020,12:11:00,0,50
203704,T20200019247,1/11/2020,15:30:00,1,999
203705,T20200019250,1/11/2020,18:00:00,0,60
203706,T20200019253,1/11/2020,12:00:00,1,80
203707,T20200019417,4/11/2020,01:30:00,3,80