### Import Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import csv

### Retrieve CSV data files

In [2]:
#CSV file paths

accident_path = "data/ACCIDENT.csv"
accident_chainage_path = "data/ACCIDENT_CHAINAGE.csv"
accident_event_path = "data/ACCIDENT_EVENT.csv"
accident_location_path = "data/ACCIDENT_LOCATION.csv"
atmospheric_cond_path = "data/ATMOSPHERIC_COND.csv"
node_path = "data/NODE.csv"
person_path = "data/PERSON.csv"
road_surface_cond_path = "data/ROAD_SURFACE_COND.csv"
subdca_path = "data/SUBDCA.csv"
vehicle_path = "data/VEHICLE.csv"

# reading the CSV files

# ACCIDENT_NO, date, time, speed zone, sex, age

# reading the CSV files, increase memory capacity
accident_df = pd.read_csv(accident_path, 
                          parse_dates=["ACCIDENTDATE"], infer_datetime_format = True, low_memory = False)
# accident_chainage_df = pd.read_csv(accident_chainage_path)
# accident_event_df = pd.read_csv(accident_event_path)
# accident_location_df = pd.read_csv(accident_location_path)
# atmospheric_cond_df = pd.read_csv(atmospheric_cond_path)
# node_df = pd.read_csv(node_path)
# person_df = pd.read_csv(person_path)
# road_surface_cond_df = pd.read_csv(road_surface_cond_path)
# subdca_path_df = pd.read_csv(subdca_path)
# vehicle_path_df = pd.read_csv(vehicle_path)

### Create accident master frame for later functional reference

In [3]:
main_df = accident_df[["ACCIDENT_NO", "ACCIDENTDATE", "ACCIDENTTIME","DAY_OF_WEEK","SPEED_ZONE"]]
print(len(main_df))
main_df.head()

203708

,ACCIDENT_NO,ACCIDENTDATE,ACCIDENTTIME,DAY_OF_WEEK,SPEED_ZONE
0,T20060000010,2006-01-13,12:42:00,6,60
1,T20060000018,2006-01-13,19:10:00,6,70
2,T20060000022,2006-01-14,12:10:00,7,100
3,T20060000023,2006-01-14,11:49:00,7,80
4,T20060000026,2006-01-14,10:45:00,7,50

### Extract 5 years of interested data

In [4]:
# Drop accident rows that happened before 1-1-2016
start_date = '2016-01-01'
filter_main_df = main_df[main_df['ACCIDENTDATE'] >= start_date]
filter_main_df.reset_index(drop=True, inplace = True)
filter_main_df

,ACCIDENT_NO,ACCIDENTDATE,ACCIDENTTIME,DAY_OF_WEEK,SPEED_ZONE
0,T20160000013,2016-01-01,00:07:00,6,60
1,T20160000015,2016-01-01,02:35:00,6,80
2,T20160000019,2016-01-01,06:30:00,6,50
3,T20160000028,2016-01-01,11:35:00,6,60
4,T20160000031,2016-01-01,13:30:00,6,50
...,...,...,...,...,...
62261,T20200019239,2020-11-01,12:11:00,0,50
62262,T20200019247,2020-11-01,15:30:00,1,999
62263,T20200019250,2020-11-01,18:00:00,0,60
62264,T20200019253,2020-11-01,12:00:00,1,80
62265,T20200019417,2020-11-04,01:30:00,3,80

### Export dataframe to csv file

In [5]:
file_name = 'proj_accident_main.csv'
filepath = f"data/{file_name}"  
filter_main_df.to_csv(filepath)
print(f"*** File created in: {filepath} ********************************************" )

*** File created in: data/proj_accident_main.csv ********************************************